

.navbar {
  background-color: #333;
  color: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}


.navbar li {
  margin: 0 15px;
  cursor: pointer;
}

.navbar li:hover {
  color: #ffd700;
}

.content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
