.nav{
    display: flex;
    padding: 15px;
    justify-content:space-evenly;
    align-items: right;
    background-color: #eeebec;
    
}
img{
    display: flex;
    align-items: left;
    margin-top: 0%;
    
}
#red{
    color: rgb(154, 12, 12);
    font-weight: 400;
}
.body{
    display: block;
}
.content{
    background-color: #eeebec;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.footer{
    padding: 30px;
    background-color: #c8c10d;
    align-items: center;
    font-size: larger;
    justify-content: space-between;
    color: white;
    

}
li{
    margin: 30px;
}